<style>
* {
    margin: 0 0 0 0 !important;
    /*text-decoration: none !important;*/
    list-style: none !important;
    border: 0px !important;
    border-radius: 0px !important;
}
#header {
	widht: 100% !important;
	height: -1;
	background: #ff00ff;
	background: #31629E;
    color:white;
    text-align:center;
}
#myview {
	widht: 100% !important;
	height: 100% !important;
}
.v-menubar {
    background: #31629E;
    border: 0px;
}
.v-menubar-menuitem-caption {
    color: #fff;
    background: #31629E;
    border: 0px;
}
.v-menubar-submenu {
	margin: 0px !important;
}
.v-menubar-menuitem {
	border-radius: 0px;
	background: #31629E !important;
}
.expertsystemsimulator .v-menubar-popup {
	margin-top: 0px !important;
	white-space: normal !important;
	background: #31629E !important;
}
.v-menubar-menuitem:hover .v-menubar-menuitem-caption:hover {
	color: #ff0000 !important;
}
</style>

<div id="header" location="menu"></div>
<div id="myview" location="simulator"></div>


